# https://travis-ci.org/tornadoweb/tornado
language: python
python:
    - 3.6

env:
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=py36
    - TOXENV=flake8

install:
    - pip install tox

script: tox

matrix:
  include:
      - python: 3.5
        env:
            - TOXENV=py35
